
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<h3 class="text-muted my-auto">Wilkommen!</h3>
<h3 class="mt-5">Deine TimeTracker Statistik</h3>
<div class="container-fluid">
    <div class="row">
        <div class="row mx-2">
            <div class="col-auto">

                <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                    <div class="col-auto">
                        <i class="fa fa-hourglass m-3 text-white" style="font-size: 160px;"></i>
                    </div>
                    <div class="col-6">

                        <div class="card-body px-5 row border-left">
                            <h4 class="card-title text-break text-white">Eingetragene Arbeitsstunden diesen Monat</h4>
                            <div class="card-text">
                                <br>
                                <p class="card-text font-weight-bold text-white">32:56:00 h</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col-auto">

                <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                    <div class="col-auto">
                        <i class="fa fa-hourglass m-3 text-white" style="font-size: 160px;"></i>
                    </div>
                    <div class="col-6">

                        <div class="card-body px-5 row border-left">
                            <h4 class="card-title text-break text-white">Eingetragene Arbeitsstunden gesamt</h4>
                            <div class="card-text">
                                <br>
                                <p class="card-text font-weight-bold text-white">3200:30:00 h</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-5">All Users</h3>
<div class="container-fluid">
    <div class="row">

        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-hourglass m-3 text-white" style="font-size: 160px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Eingetragene Arbeitsstunden diesen Monat</h4>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white">2600:20:00 h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-hourglass m-3 text-white" style="font-size: 160px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Eingetragene Arbeitsstunden gesamt</h4>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white">250000:46:00 h</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-hourglass m-3 text-white" style="font-size: 160px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Derzeit aktive Rekorde</h4>
                        <div class="card-text">
                            <br>
                            <br>
                            <p class="card-text font-weight-bold text-white">30</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-user text-white" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Anzahl User</h4>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white">87</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-user text-white" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Diesen Monat aktive User</h4>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white">72</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col">

            <div class="card mt-5 d-flex flex-row" style="background-color: black;">

                <div class="col">
                    <i class="fa fa-user text-white" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h4 class="card-title text-break text-white">Bisher aktive User</h4>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white">82</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h3 class="mt-5">Administrator</h3>
<div class="container-fluid bg-muted">

    <div class="row mb-5">

        <div class="col">

            <div class="card mt-5 d-flex flex-row bg-success">

                <div class="col">
                    <i class="fa fa-user" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h1 class="card-title text-break  font-weight-bold text-white">87</h1>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white" style="font-size: 20px;">Anzahl User</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col">

            <div class="card mt-5 d-flex flex-row bg-primary">

                <div class="col">
                    <i class="fa fa-users" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h1 class="card-title text-break font-weight-bold text-white">122</h1>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white" style="font-size: 20px;">Anzahl Kunden</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col mb-5">

            <div class="card mt-5 d-flex flex-row bg-warning">

                <div class="col">
                    <i class="fa fa-book" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h1 class="card-title text-break font-weight-bold text-white">112</h1>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white" style="font-size: 20px;">Anzahl Projekte</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">

            <div class="card mt-5 d-flex flex-row bg-info">

                <div class="col">
                    <i class="fa fa-bars" style="font-size: 180px;"></i>
                </div>
                <div class="col">

                    <div class="card-body px-5 row">
                        <h1 class="card-title text-break font-weight-bold text-white">90</h1>
                        <div class="card-text">
                            <br>
                            <p class="card-text font-weight-bold text-white" style="font-size: 20px;">Anzahl Aktivitäten</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


