<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backend_TimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Backend_TimeTracker.Properties.Settings.DBConnection"
            connectionString="Data Source=SHDEST2W583\SQLEXPRESS;Initial Catalog=TimeTracker;User ID=sa;Password=@WageN#_2112" />
    </connectionStrings>
    <applicationSettings>
        <Backend_TimeTracker.Properties.Settings>
            <setting name="SMTPHost" serializeAs="String">
                <value>pp2000-com.mail.protection.outlook.com&lt;</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ServiceEMailAddress" serializeAs="String">
                <value>TimeTracker@pp2000.com</value>
            </setting>
            <setting name="SendClient" serializeAs="String">
                <value>TimeTracker</value>
            </setting>
        </Backend_TimeTracker.Properties.Settings>
    </applicationSettings>
</configuration>